@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$normalWhite: #fff9;
$activeWhite: #fff;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  /* background-image: url("../public/img/rainy.jpeg"); */
  background: url("../public/img/rainy.jpeg") center / cover no-repeat fixed;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
}

.App{
  display: flex;
  justify-content: space-between;
  height: 100%;

  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
    padding: 30px 30px 80px 80px;

    .current-weather{
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: flex-start;

      .deg{
        font-size: 85px;
        font-weight: 100;
        margin: 0;

        sup{
          margin-left: -15px;
        }
      }
      .location-time{
        .location{
          margin: 0;
          font-size: 40px;
          font-weight: 100;
        }
        .time{
          margin: 0;
        }
      }

      .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img{
          height: 48px;

          img{
            width: 60px;
          }
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .sidebar{
    padding: 50px;
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
    max-width: 470px;
    overflow-y: scroll;
    background: rgb(0 0 0 / 50%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .category{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;

      h3{
        margin: 0;
      }
      .line{
        display: block;
        flex: 1;
        height: 1px;
        background: #fff;
      }
    }
    .another-location{
      margin-bottom: 50px;

      .search{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-end;

        input{
          flex: 1;
          padding: 15px 0;
          background: #0000;
          border: 0;
          border-bottom: 1px solid $normalWhite;
          color: $activeWhite;
          outline: 0;

          &:focus{
            border-bottom: 1px solid $activeWhite;
          }
          &::placeholder{
            color: $normalWhite;
          }
        }
        button{
          padding: 20px;
          font-size: 25px;
          color: $normalWhite;
          background: #fff3;
          border-radius: 5px;
          transition: .3s;
          border: 0;

          &:hover{
            color: $activeWhite;
          }
        }
      }
    }
    .weather-details{
      margin-bottom: 50px;

      .flex-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        gap: 20px;

        .box{
          flex: 1 1 calc(33.3333333333% - 40px);
          background-color: #0003;
          aspect-ratio: 1/1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          /* gap: 10px; */
          border-radius: 5px;
          max-height: 150px;
          padding: 10px;
          color: $normalWhite;
          transition: .3s;

          &:hover{
            color: $activeWhite;
          }

          svg{
            font-size: 25px;
            margin: 10px;
          }
        }
        p{
          margin: 0;
        }
        h4{
          margin: 0;
        }
      }
    }
    .next-7days{
      margin-bottom: 50px;
    }
  }


  
}